<%- include('../partials/header') %>
    <main>
    <a href="/">Home</a>
    <ul>
        <% skills.forEach(function(s) { %>
            <li>
                
                <form action="/skills/<%= s.id %>?_method=DELETE"
                    class="delete-form" method="POST">
                    <button type="submit">&times;</button>
                </form>

                <a href="/skills/<%= s.id %>"><%= s.name %></a>
            </li>
            
        <% }); %>
    </ul>
    <a href="/skills/new">Add a skill</a>
    </main>

<%- include('../partials/footer') %>